.popupBackground {
  position: fixed;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 110%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
}
